---
layout: "layout.njk"
---
{% include "logo.njk" %}
<div class="background-header-color"></div>

<h1><a href="../index.html">Gallerie</a></h1>

<div class="">
  <div class="categoria">
    <h3>{{ categoryphotostitle }}</h3>
    <div class="category-images">
      {%- for photos in categoryphotos -%}
      <img class="imagen" src="{{ photos }}" alt="">
      {%- endfor -%}
    </div>
  </div> 
</div>