---
layout: layout.njk
---
{% include "logo.njk" %}
<div class="background-header-color"></div>
<h1>Gallerie</h1>
<div class="gallery">
  <div class="category">
    <h2>Mariage</h2>
    <div class="photos">
      <img src="../family.jpg" alt="">
    </div>
  </div>
  <div class="category">
    <h2>Mariage</h2>
    <div class="photos">
      <img src="../family.jpg" alt="">
    </div>
  </div> 
  <div class="category">
    <h2>Mariage</h2>
    <div class="photos">
      <img src="../family.jpg" alt="">
    </div>
  </div>
  <div class="category">
    <h2>Mariage</h2>
    <div class="photos">
      <img src="../family.jpg" alt="">
    </div>
  </div>
  <div class="category">
    <h2>Mariage</h2>
    <div class="photos">
      <img src="../family.jpg" alt="">
    </div>
  </div>
  <div class="category">
    <h2>Mariage</h2>
    <div class="photos">
      <img src="../family.jpg" alt="">
    </div>
  </div>
  <div class="category">
    <h2>Mariage</h2>
    <div class="photos">
      <img src="../family.jpg" alt="">
    </div>
  </div>          
</div>
  



