---
layout: "layout.njk"
---
{% include "logo.njk" %}
<div class="background-header-color"></div>
<h1>Galerie</h1>
<div class="gallery">
{%- for category in collections.category -%}
  <div class="category">
    <a href="{{ category.url }}">
    <h2>{{ category.data.title }}</h2>
    <div class="photos">
      <img src="{{ category.data.photo }}" alt="">
    </div>
    </a>
  </div>  
{%- endfor -%}        
</div>
  



